.search-bar {
  margin-right: 20px;
}
.search-bar-contain {
  position: relative;
  z-index: 2;
}
.search-bar input {
  border: none;
  width: 100vw;
  max-width: 400px;
  border-radius: 10px;
  height: 40px;
  padding: 0 40px 0 10px;
  font-size: 16px;
}
.search-bar input:focus-visible {
  outline: none;
}
.search-bar svg {
  border-radius: 0 8px 8px 0;
  padding: 8px;
}
.search-bar .search-bar-icon {
  background-color: #0747a3;
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0px;
}
.search-bar .search-bar-icon-md {
  background-color: #0747a3;
  height: 100%;
  width: 40px;
  display: none;
}
.search-bar .header-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 200vh;
  background-color: #00000085;
}
.search-bar .header-overlay.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .search-bar .search-bar-icon-md {
    display: block;
    border-radius: 8px;
  }
  .search-bar input {
    box-sizing: border-box;
    border-radius: 0;
    width: 100vw;
    max-width: none;
  }
  .search-bar .search-bar-contain {
    position: fixed;
    z-index: 2;
    width: 0;
    max-height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.2s;
  }
  .search-bar .search-bar-contain.active {
    display: flex;
    width: 100vw;
    top: 80px;
    max-height: none;
  }
  .search-bar .search-bar-icon {
    background-color: #fff;
    color: #000;
    border-left: 1px solid #000;
    right: 15px;
  }
}
